<h1>Crear un nuevo artículo</h1>

<%= form_with url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :published %><br>
    <%= form.check_box :published %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>